@{
  ViewBag.Title = "Home Page";
}

<div class="div-top-margin">
  <div class="row">
    <div class="col-md-4 col-pagination">
      <button type="button" class="btn btn-primary btn-lg btn-block btn-height-90">
        Profilul meu
      </button>
    </div>
    <div class="col-md-4 col-pagination">
      <button type="button" class="btn btn-primary btn-lg btn-block btn-height-90">
        Prietenii mei
      </button>
    </div>
    <div class="col-md-4 col-pagination">
      <button type="button" class="btn btn-primary btn-lg btn-block btn-height-90">
        Grupurile mele
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-pagination">
      <button type="button" class="btn btn-primary btn-lg btn-block btn-height-90">
        Cauta prieteni noi
      </button>
    </div>
    <div class="col-md-6 col-pagination">
      <button type="button" class="btn btn-primary btn-lg btn-block btn-height-90">
        Cauta grupuri noi
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-pagination">
      <button type="button" class="btn btn-primary btn-lg btn-block btn-height-90">
        Chat
      </button>
    </div>
  </div>
</div>

