body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
  max-width: 280px;
}

.center-icon {
  text-align: center;
}

.icon-style {
  font-size: 80px;
  color: #337ab7;
}

.div-top-margin {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.no-profile-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0px 75px;
  padding-bottom: 21px;
}

.left-radius-photo {
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
}

.cooler-facebook-border {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cooler-facebook-border-margin {
  /*border: 3px #337ab7 solid;
  border-radius: 15px;*/
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 371px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.margin-bottom {
  margin-bottom: 15px;
}

.title-style {
  font-weight: bold;
}

.theme-color {
  color: #337ab7;
}

.col-pagination {
  padding: 10px 25px 45px 25px;
}

.btn-height-90 {
  height: 70px;
}

/* comments pagination */
.comments-scrolling {
  height: 340px;
  margin-top: 10px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

/* comment style */
.panel {
  position: relative;
}

  .panel > .panel-heading:after, .panel > .panel-heading:before {
    position: absolute;
    top: 11px;
    left: -16px;
    right: 100%;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;
  }

  .panel > .panel-heading:after {
    border-width: 7px;
    border-right-color: #f7f7f7;
    margin-top: 1px;
    margin-left: 2px;
  }

  .panel > .panel-heading:before {
    border-right-color: #ddd;
    border-width: 8px;
  }

/* friend nav */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #007bff;
}

a:active, a:hover {
  outline: 0;
}

/* friend box */
.friend-box {
  padding: 10px 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.margin-top-42 {
  margin-top: 42px;
}

.margin-top-31 {
  margin-top: 31px;
}

.friend-button {
  margin-bottom: 5px;
  width: 132px;
}

.width-132 {
  width: 132px;
}

.margin-top-51{
  margin-top: 51px;
}

/* chat style */
.friends-list-scroll {
  border-right: 1px #ccc solid;
  height: 550px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.messages-scroll {
}
