body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
  max-width: 280px;
}

.center-icon {
  text-align: center;
}

.icon-style {
  font-size: 80px;
  color: #337ab7;
}

.div-top-margin {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.no-profile-card {
  border: 3px #337ab7 solid;
  border-radius: 15px;
  margin: 0px 75px;
  padding-bottom: 21px;
}

.left-radius-photo {
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
}

.cooler-facebook-border {
  border: 3px #337ab7 solid;
  border-radius: 15px;
}

.margin-bottom {
  margin-bottom: 15px;
}

.title-style {
  font-weight: bold;
}

.theme-color {
  color: #337ab7;
}

.col-pagination {
  padding: 10px 25px 45px 25px;
}

.btn-height-90 {
  height: 70px;
}