body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}

.center-icon {
  text-align: center;
}

.icon-style {
  font-size: 90px;
  color: #337ab7;
}

.div-top-margin {
  margin-top: 50px;
}

.col-pagination {
  padding: 10px 25px 45px 25px;
}

.btn-height-90 {
  height: 90px;
}