@model WebApplication4.Models.RegisterViewModel
@{
  ViewBag.Title = "Register";
}

<div class="row">
    <div class="col-md-6">
      Poza
        
    </div>
  </div>
</div>

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}