<p><strong>Title: </strong>@Model.Title</p>
<p><strong>Description: </strong>@Model.Description</p>
<a href="/Album/ShowPhotos/@Model.AlbumId">
  <button type="button"
          class="btn btn-primary">
    Vizualizeaza album
  </button>
</a>