<div class="row">
  <div class="col-md-2">
    <div class="thumbnail">
      <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
    </div>
  </div>
  <div class="panel panel-default col-md-9">
    <div class="panel-heading">
      <strong>@Model.Author.UserName</strong> <span class="text-muted">commented on @Model.Date</span>
    </div>
    <div class="panel-body">
      @Model.Text
    </div>
  </div>
</div>
