
@{
  ViewBag.Title = "Albums";
}

<div class="div-top-margin">
  @foreach (var album in ViewBag.Albums)
  {
    <p>@album.Title</p>
    <p>@album.Description</p>
    <a href="/Album/Show/@album.AlbumId">Afisare album</a>
    <br />
    <hr />
    <br />
  }
</div>

