@{
        /**/

        ViewBag.Title = "ShowPhotos";
}

<h2 class="theme-color title-style">Titlu album: @ViewBag.album.Title</h2>
<h4 class="theme-color title-style">Descriere: @ViewBag.album.Description</h4>

@foreach (var pic in ViewBag.pics)
{

  
  <div class="row cooler-facebook-border">
    <div class="col-md-4" style="padding-left: 0px">
      <img src=@pic.Path alt="Smiley face" class="left-radius-photo" height="400" width="400">
    </div>
    <div class="center-icon col-md-8" style="padding-left: 30px; height: 400px">
        <div style="height: 350px">
            <ul class="list-group comments-scrolling">
                @foreach (CoolerFacebook.Models.Comment comment in pic.Comments)
                {
                    @Html.Partial("CommentsListParital", comment)
                }
            </ul>
        </div>
        <form action="/Album/AddComment" method="post">
            <input type="hidden" name="id" value="@pic.PhotoId" id="id" />
            <div style="height: 50px">
                <div style="float: left; width: 77%;" class="form-group">
                    <textarea class="form-control" rows="1" id="text" name="text"></textarea>
                </div>

                <button style="float: right;" type="submit"
                        class="btn btn-primary">
                    Adauga comentariu
                </button>
            </div>
        </form>
    </div>
  </div>

  <hr />
}
